body {
   font-family: 'Raleway', sans-serif;
   background: rgb(222,184,135)
;}

h1 {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
   font-family: 'Raleway', sans-serif;
}

td{
   font-family: 'Amatic SC';
   font-size: 30px;
}

button {
   background: rgb(35,40,40);
   color: white;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}

table button {
   font-family: 'Raleway', sans-serif;
   font-size:12px;
   text-transform: uppercase;
   height: 41px;
   width: 100px;
}

textarea {
   margin-bottom: 10px;
   background: rgb(35,40,40);
   height: 200px;
   width: 500px;
   color: white;
   font-family: 'Amatic SC';
   font-size: 35px;
;}

.checkedOff {
   text-decoration: line-through;
}

/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */
/* font-family: 'Amatic SC', cursive; */